<!DOCTYPE html>
<html lang="en" xmlns:th="" class="body-full-height">
    <head>        
        <title>信息添加</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--<link rel="icon" href="favicon.ico" type="image/x-icon" />-->
        <link rel="stylesheet" type="text/css" id="theme" href="../css/theme-default.css"/>
        <link rel="stylesheet" type="text/css" href="../css/add.css"/>
    </head>
    <body>
        <div class="page-container">       
            <div class="page-content" style="margin-left:0px;">              
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">信息添加</li>
                </ul>
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span>信息添加</h2>
                    <div th:each="id:${ids}" style="display:none;">  
						<div th:text="${id}" class="getSendId"></div>  
					</div>
                </div>
                <div class="page-title">                    
                    <div class="row ">
                        <div class="form-group orderCms">
                            <div class="col-md-6">
                                <label class="pull-left control-label mt5" style="margin-left:30px;">已选情报板：</label>
                                <div class="pull-left" style="width:250px;margin-left:10px;">
                                    <select class="selectpicker form-control select fff orderBoardSize" id="orderBoardSize">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<button class="btn btn-primary search pull-left videoLinkage" style="margin-right:20px;border-radius:3px;margin-top:-18px;display:none;">视频联动</button>-->
                        <a href="javascript:window.history.back()" class="btn btn-default btn-rounded btn-sm search pull-right" style="margin-right:20px;margin-top:-18px;"><span class="fa fa-mail-reply"></span>返回</a>
                    </div>
                </div>
                <div th:each="id:${ids1}" style="display:none;">  
                    <div th:text="${id}" class="getSendId"></div>  
                </div>
                <div class="page-content-wrap editAddCms">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default bodyInfos">
                                <div class="panel-body clearfix">
                                    <div class="width50 pull-left">
                                       <!--<div class="clearfix">
                                            <label class="pull-left mt5">主题名称：</label>
                                            <div class="pull-left conWidth">                                                                                            
                                                <input name="" type="text" class="groupDescribe fff form-control" value=""/>
                                            </div>
                                        </div>-->
                                        <div class="clearfix">
                                                <label class="pull-left mt5">命令类型：</label>
                                                <div class="pull-left conWidth">                                                                                            
                                                    <select class="selectpicker form-control select fff commandType" id="commandType">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">尺寸：</label>
                                                <div class="pull-left conWidth">                                                                                            
                                                    <input name="" type="text" class="theme fff form-control" value=" " id="boardSize"/>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">字体：</label>
                                                <div class="pull-left clearfix fontFamily">
                                                    <div style="font-family: '宋体';" index="1" class="pull-left fontFamilyItem">宋体</div>
                                                    <div style="font-family: '仿宋体';" index="2" class="pull-left fontFamilyItem">仿宋体</div>
                                                    <div style="font-family: '黑体';" index="3" class="pull-left fontFamilyItem">黑体</div>
                                                    <div style="font-family: '隶书';" index="4" class="pull-left fontFamilyItem">隶书</div>
                                                    <div style="font-family: '楷体';" index="5" class="pull-left fontFamilyItem">楷体</div>
                                                    <div style="display: none;" class="fontFamilyItemHidden hiddenDiv"></div>
                                                    <div style="display: none;" class="fontFamilyItemIndexHidden hiddenDiv"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">字体颜色：</label>
                                                <div class="pull-left clearfix fontColorWrap">
                                                    <div class="fontColorBar pull-left">
                                                        <div index="1" class="active fontColor borderUnSelect" colorAttr="#FF0000">
                                                            
                                                        </div>      
                                                    </div>
                                                    <div class="fontColorBar pull-left"><div index="2" class="fontColor borderUnSelect" colorAttr="#00FF00"></div></div>
                                                    <div class="fontColorBar pull-left"><div index="4" class="fontColor borderUnSelect" colorAttr="#FFFF00"></div></div>
                                                    <div style="display: none;" class="fontColorHidden hiddenDiv"></div>
                                                    <div style="display: none;" class="fontColorIndexHidden hiddenDiv"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">停留时间：</label>
                                                <div class="pull-left conWidth">                                                                                            
                                                    <input name="stay" type="text" class="time fff form-control" value="5" />
                                                </div>
                                            </div> 
                                            <div class="clearfix">
                                                <label class="pull-left mt5">内容：</label>
                                                <div class="pull-left conWidth">                                            
                                                    <textarea name="content" class="form-control content fff" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="leftBtn">
                                                <button class="btn btn-primary addNextMessage" cmsCode="">添加下一条</button>
                                                <!--<button class="btn cancelBtn_Left">取消</button>-->
                                            </div>
                                    </div>
                                    <div class="width50 pull-left">
	                                    <div class="addMessage">
	                                        <h3 class="partOfAddMessage">预览区</h3>
	                                        <div class="finishedMessage clearfix">
	                                            <div class="pull-left editPart1">    
	                                                
	                                            </div>
	                                        </div>
	                                        <div class="rightBtn">
	                                            <button class="btn btn-primary saveBtn">发布</button>
	                                            <button class="btn cancelBtn_right">取消</button>
	                                        </div>
	                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>            
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="box">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../js/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="../js/device/cmsSetting.js"></script>
        <script type="text/javascript" src="../js/informationBoard/select.js"></script>
        <script type="text/javascript" src="../js/informationBoard/switch.js"></script>
        <script type="text/javascript" src="../js/informationBoard/add.js"></script>
        <script type="text/javascript" src="../js/plugins.js"></script>
        <script type="text/javascript" src="../js/actions.js"></script>
    </body>
</html>






