<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>申请表列表</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/paging/paging.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/project/common.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/device/device.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading/loading.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/electromechanical/table.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/add.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
    </head>
    <body>
        <div class="page-container">
            <div class="page-content ml">
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">申请表列表</li>
                </ul>
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span>申请表列表</h2>
                </div>
                <div class="page-title"> 
	                <div class="row">                   
	                    <div class="form-group">  
		                    <div class=" col-md-3">                                       
		                        <label class="pull-left mt8">开始时间：</label>
		                         <div class="col-md-7">
		                             <input type="text" value="" readonly class="form_datetime form-control fff" id="startTime">
		                        </div>
	                        </div>
	                    </div>
	                    <div class="form-group mt18">  
		                    <div class=" col-md-3">                                         
		                        <label class="pull-left mt8">结束时间：</label>
		                        <div class="col-md-7 ">
		                             <input type="text" value="" readonly class="form_datetime form-control fff" id="endTime">
		                        </div>
		                    </div>
	                    </div>
	                </div>
	                <div class="row mt8">                   
	                    <div class="form-group">   
		                    <div class=" col-md-3">                                      
		                        <label class="pull-left mt8">申请单位：</label>
		                         <div class="col-md-7">
		                             <input name="" type="text" class="form-control applicationUnitSearch fff" value="" placeholder=""/>
		                        </div>
		                    </div>
	                    </div>
	                    <div class="form-group mt18">                                        
		                    <div class=" col-md-3">                                        
		                        <label class="pull-left mt8">是否过期：</label>
		                        <div class="col-md-7 ">
		                        	<select class="selectpicker form-control select fff isObsolete" id="isObsolete">
			                            <option value="">请选择</option>
			                            <option value="0">未过期</option>
			                            <option value="1">已过期</option>
		                        	</select>
		                        </div>
	                        </div>
	                    </div>
	                    <button class="btn btn-primary search" style="border-radius:3px;">搜索</button>
	                </div>
                </div>
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">申请单列表</h3>       
                                </div>
                                <div class="panel-body">
                                    <div class="btnGroup">
                                        <!--<button class="btn btn-danger btn-rounded btn-sm deleteBtn" id="deleteBtn"><span class="fa fa-times"></span>删除</button>-->
                                    </div>
                                   <input type="hidden" value="" class="removeId"/>
                                    <table id="customers2" class="table datatable_simple tableStyle">
                                        <thead>
                                            <tr>
                                                <th class="width60"><span class="self-id">序号</span></th>
<!--                                                <th class="width60"><input type="checkbox" name="id[]" value="" id="checkAll" class="self-input"/><span class="self-id">序号</span></th>-->
                                                <th>申请单编号</th>
                                                <th>优先级</th>
                                                <th>开始时间</th>
                                                <th>结束时间</th>
                                                <th>申请单位</th>
                                                <th>申请人</th>
                                                <th>是否过期</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody class="selfTbody">
                                           
                                        </tbody>
                                    </table>                                    
                                    <div id="page" class="page_div pull-right"></div>	 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>            
        </div>
      	<div class="modal fade firstPart" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modalList" role="document" style="width:852px;top:-100px;">
				    <div class="modal-content">
					      <div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        	<h4 class="modal-title" id="myModalLabel">申请单详情</h4>
					      </div>
					      <div class="modal-body" style="max-height:500px;overflow:scroll;">
					      		<table class="table applicationTable">
                                    <!--<tr>
                                        <td class="tableThWidth textRight">编号</td>
                                        <td class="applicationNumber"></td>
                                        <td class="tableThWidth textRight">申请单位</td>
                                        <td class="applicationUnit"></td>
                                        <td class="tableThWidth textRight">申请人</td>
                                        <td class="applicationPerson"></td>
                                    </tr>
                                    <tr>
                                        <td class="textRight">申请时间</td>
                                        <td class="applicationTime"></td>
                                        <td class="textRight">开始时间</td>
                                        <td class="startTime"></td>
                                        <td class="textRight">结束时间</td>
                                        <td class="endTime"></td>
                                    </tr>
                                    <tr class="nextCon">
                                        <td class="textRight">发布原因</td>
                                        <td colspan="3" class="releaseReason"></td>
                                        <td class="textRight">优先级</td>
                                        <td colspan="" class="releasePriority"></td>
                                    </tr>-->
                                    <tr>
	                                    <td class="tableThWidth textRight">编号</td>
	                                    <td class=""><input type="" name="" class="applicationNumber form-control fff" readonly></td>
	                                    <td class="tableThWidth textRight">申请单位</td>
	                                    <td class=""><input type="" name="" class="applicationUnitModal form-control fff"></td>
	                                    <td class="tableThWidth textRight">申请人</td>
	                                    <td class=""><input type="" name="" class="applicationPerson form-control fff" value=""></td>
	                                </tr>
	                                <tr>
	                                    <td class="textRight">申请时间</td>
	                                    <td><input type="text" value="" readonly class="form_datetime fff form-control applicationTime"></td>
	                                    <td class="textRight">开始时间</td>
	                                    <td><input type="text" value="" readonly class="form_datetime fff form-control startTime" id="startTime"></td>
	                                    <td class="textRight">结束时间</td>
	                                    <td><input type="text" value="" readonly class="form_datetime fff form-control endTime" id="endTime"></td>
	                                </tr>
	                                <tr class="nextCon">
	                                    <td class="textRight">发布原因</td>
	                                    <td colspan="3"><input type="" name="" class="releaseReason form-control fff" value=""></td>
	                                    <td class="textRight">优先级</td>
	                                    <td colspan=""><input type="" name="" class="releasePriority form-control fff" value=""></td>
	                                </tr>
                                 
                                </table>  
			              </div>       
					      <div class="modal-footer">		        		       
		        				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					      </div>
				    </div>
			  </div>
		</div>
			   
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> 作废 <strong>数据</strong> ?</div>
                    <div class="mb-content">
                        <p>您确定作废此申请单吗?</p>                    
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">是</button>
                            <button class="btn btn-default btn-lg mb-control-close">否</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-publish-row">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-check"></span> 发布信息 ?</div>
                    <div class="mb-content">
                        <p>您确定发布此信息吗?</p>                    
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">是</button>
                            <button class="btn btn-default btn-lg mb-control-close">否</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="box">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay lovelayNone"></div>
		<div id="AjaxLoading" class="showbox imgNone">
		  <div class="loadingWord"><img src="/css/img/loading.gif"></div>
		  <div>努力加载中，请稍候...</div>
		</div>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script> 
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script> 
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-datetimepicker.fr.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/paging/paging.js}"></script>  
        <script type="text/javascript" th:src="@{/js/loading/loading.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/cmsApplicationList.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    </body>
</html>










