<!DOCTYPE html>
<html lang="en" xmlns:th="" class="body-full-height">
    <head>        
        <title>申请信息发布</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/add.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/informationBase.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/paging/paging.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading/loading.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/electromechanical/table.css}"/>  
        <script th:src="@{/js/sockjs.min.js}"></script>
		<script th:src="@{/js/stomp.js}"></script>
    </head>
    <body>
        <div class="page-container applicationHtml firstPart">       
            <div class="page-content" style="margin-left:0px;">              
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">申请信息发布</li>
                </ul>
                <div class="page-title applicationTitle">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span><span class="pageName"></span></h2>
                </div>
                <div class="applicationBar">
	                <!--<h3 class="pull-left applicationTitle_left">申请表</h3>-->
	                <!--<button class="btn btn-default btn-rounded btn-sm addBtn pull-right"><span class="fa fa-plus"></span>添加组</button>-->
	               	<input type="hidden" value="" class="applicationId">
	                <div class="page-content-wrap pull-left application">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <div class="panel panel-default">
	                                <div class="panel-body clearfix">
	                                    <table class="table cloneDiv" style="display: none;">
	                                        <tr class="cloneTr" style="display: none;">
	                                            <td class="textRight">申请信息发布位置</td>
	                                            <td class="selectBtn"></td>
	                                            <td class="textRight tableThWidth">信息发布内容</td>
	                                            <td colspan="4" class="releaseConTd">
	                                            	<button class="btn btn-default btn-rounded btn-sm addBtnOne pull-right" title='添加'><span class="fa fa-plus"></span></button>
	                                            </td>
	                                            <td style="display:none;"><input value="" class="deviceCodeCopy" type="hidden"></td>
	                                        </tr>
	                                    </table>  
	                                    <table class="table applicationTable">
	                                        <tr>
	                                            <td class="tableThWidth textRight">编号</td>
	                                            <td class=""><input type="" name="" class="applicationNumber form-control fff" readonly></td>
	                                            <td class="tableThWidth textRight">申请单位</td>
	                                            <td class=""><input type="" name="" class="applicationUnit form-control fff"></td>
	                                            <td class="tableThWidth textRight">申请人</td>
	                                            <td class=""><input type="" name="" class="applicationPerson form-control fff" value=""></td>
	                                        </tr>
	                                        <tr>
	                                            <td class="textRight">申请时间</td>
	                                            <td><input type="text" value="" class="form_datetime fff form-control applicationTime"></td>
	                                            <td class="textRight">开始时间</td>
	                                            <td><input type="text" value="" class="form_datetime fff form-control startTime" id="startTime"></td>
	                                            <td class="textRight">结束时间</td>
	                                            <td><input type="text" value="" class="form_datetime fff form-control endTime" id="endTime"></td>
	                                        </tr>
	                                        <tr class="nextCon">
	                                            <td class="textRight">发布原因</td>
	                                            <td colspan="3"><input type="" name="" class="releaseReason form-control fff" value=""></td>
	                                            <td class="textRight">优先级</td>
	                                            <td colspan=""><input type="" name="" class="releasePriority form-control fff" value=""></td>
	                                        </tr>
	                                        <tr>
	                                            <td class="textRight">申请信息发布位置</td>
	                                            <td class="selectBtn" style="max-width:430px;">
	                                                <!--<select class="selectpicker show-tick form-control releasePosition" multiple data-live-search="false" id="releasePosition">
								            		</select>-->
	                                            </td>
	                                            <td class="textRight tableThWidth">信息发布内容</td>
	                                            <td colspan="4" class="releaseConTd">
	                                                 <a class="btn btn-default btn-rounded btn-sm addBtnOne pull-right" title='添加'><span class="fa fa-plus"></span></a> 
	                                            </td>
	                                            <td style="display:none;"><input value="" class="deviceCodeCopy" type="hidden"></td>
	                                        </tr>
	                                    </table>    
	                                </div>
	                            </div>
	                        </div>  
	                    </div>
	               		<div class="saveBtnGroup pull-right">
	               			<button class="btn btn-primary saveThis">保存</button>
	               			<button class="btn btn-primary saveThisAndPublish">保存并发布</button>
	               		</div>
	                </div>
	            </div>
            </div>
        </div>
               
	    <div class="addMessagePart secondPart toggleThis">
	    	<div class="page-container">
	            <div class="page-content ml">
	                <ul class="breadcrumb">
	                    <li><a href="#">首页</a></li>
	                    <li><a href="#">信息发布</a></li>
	                    <li class="active">申请信息发布</li>
	                </ul>
	                <div class="page-title">                    
	                    <h2><span class="fa fa-arrow-circle-o-left"></span>选择申请发布位置</h2>
	                </div>
	                <div class="page-title ">                    
	                    <div class="row ">
	                    	<div class="form-group">
		                    	<div class="col-md-3">
		                            <label class="pull-left control-label taright">所在位置：</label>
		                            <div class="col-md-7">
		                                <select class="selectpicker form-control select fff site1" id="site1">
								        </select>
		                            </div>
	                            </div>
	                        </div>
		                     <button class="btn btn-primary search" style="margin-top:-22px;">搜索</button>  
		                     <button class="btn btn-default btn-rounded btn-sm pull-right backFirst" style="margin-right:20px;margin-top:-18px;"><span class="fa fa-mail-reply"></span>返回</button>
	                    </div>
	                </div>
	                <div class="page-content-wrap">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <div class="panel panel-default">
	                                <div class="panel-heading">
	                                    <h3 class="panel-title">情报板</h3>       
	                                </div>
	                                
	                                <div class="panel-body">  
	                                	<div class="btnGroup">
	                                        <button class="btn btn-default btn-rounded btn-sm sendMessageAndAdd" type="button" style="margin-left:20px;margin-top:-2px;"><span class="fa fa-plus"></span>编辑</button>
		                                	<!--<form action="/informationBoard/addToApplication" method="get" id="formSubmitAdd">
		                                        <button class="btn btn-primary sendMessageAndAdd" type="button" style="margin-left:20px;border-radius:3px;margin-top:-2px;"><span class="fa fa-mail-forward"></span>添加内容</button>
		                                		<input name="idsAdd" value="" class="sendIds" type="hidden">
		                                	</form>-->
	                                    </div>
	                                    <table id="customers2" class="table datatable_simple tableStyle">
	                                        <thead>
	                                            <tr>
	                                                <th class="width60"><input type="checkbox" name="id1[]" value="" id="checkAll" class="self-input"/><span class="self-id">序号</span></th>
	                                                <th>设备编号</th>
	                                                <th>设备名称</th>
	                                                <th>情报板尺寸</th>
	                                                <th>所在位置</th>
	                                                <th>桩号</th>
	                                                <th>链接参数</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody class="selfTbody">
	                                            
	                                        </tbody>
	                                    </table>                               
	                                    <div id="page" class="page_div pull-right"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>         
	            </div>            
	        </div>
       		</div>
	    <div class="thirdPart toggleThis">
	     <div class="page-container">       
            <div class="page-content" style="margin-left:0px;">              
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">申请信息发布</li>
                </ul>
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span>添加申请发布内容</h2>
                    <div th:each="id:${ids}" style="display:none;">  
						<div th:text="${id}" class="getSendId"></div>  
					</div>
                </div>
                <div class="page-title">                    
                    <div class="row ">
                        <div class="form-group orderCms">
                            <div class="col-md-4">
                                <label class="pull-left control-label" style="margin-left:30px;">已选情报板：</label>
                                <div class="pull-left" style="width:250px;margin-left:10px;">
                                    <select class="selectpicker form-control select fff orderBoardSize" id="orderBoardSize">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default btn-rounded btn-sm pull-right backSecond" style="margin-right:20px;margin-top:-18px;"><span class="fa fa-mail-reply"></span>返回</button>
                    </div>
                </div>
                <div th:each="id:${ids1}" style="display:none;">  
                    <div th:text="${id}" class="getSendId"></div>  
                </div>
                <div class="page-content-wrap editAddCms">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default bodyInfos">
                                <div class="panel-body clearfix">
                                    <div class="width50 pull-left">
                                            <div class="clearfix">
                                                <label class="pull-left mt5">尺寸：</label>
                                                <div class="pull-left conWidth">                                                                                            
                                                    <input name="" type="text" class="theme fff form-control" value=" " id="boardSize"/>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">字体：</label>
                                                <div class="pull-left clearfix fontFamily">
                                                    <div style="font-family: '宋体';" index="1" class="pull-left fontFamilyItem">宋体</div>
                                                    <div style="font-family: '仿宋体';" index="2" class="pull-left fontFamilyItem">仿宋体</div>
                                                    <div style="font-family: '黑体';" index="3" class="pull-left fontFamilyItem defaultFontFamily">黑体</div>
                                                    <div style="font-family: '隶书';" index="4" class="pull-left fontFamilyItem">隶书</div>
                                                    <div style="font-family: '楷体';" index="5" class="pull-left fontFamilyItem">楷体</div>
                                                    <div style="display: none;" class="fontFamilyItemHidden hiddenDiv"></div>
                                                    <div style="display: none;" class="fontFamilyItemIndexHidden hiddenDiv"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">字体颜色：</label>
                                                <div class="pull-left clearfix fontColorWrap">
                                                    <div class="fontColorBar pull-left">
                                                        <div index="1" class="fontColor borderUnSelect" colorAttr="#FF0000">
                                                            
                                                        </div>      
                                                    </div>
                                                    <div class="fontColorBar pull-left"><div index="2" class="fontColor borderUnSelect" colorAttr="#00FF00"></div></div>
                                                    <div class="fontColorBar pull-left"><div index="4" class="fontColor borderUnSelect defaultFontColor" colorAttr="#FFFF00"></div></div>
                                                    <div style="display: none;" class="fontColorHidden hiddenDiv"></div>
                                                    <div style="display: none;" class="fontColorIndexHidden hiddenDiv"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <label class="pull-left mt5">停留时间：</label>
                                                <div class="pull-left conWidth">                                                                                            
                                                    <input name="stay" type="text" class="time fff form-control" value="5" />
                                                </div>
                                            </div> 
                                            <div class="clearfix">
                                                <label class="pull-left mt5">内容：</label>
                                                <div class="pull-left conWidth">                                            
                                                    <textarea name="content" class="form-control content fff" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="leftBtn">
                                                <button class="btn btn-primary addNextMessage" cmsCode="">添加下一条</button>
                                                <!--<button class="btn cancelBtn_Left">取消</button>-->
                                            </div>
                                    </div>
                                    <div class="width50 pull-left">
	                                    <div class="addMessage">
	                                        <h3 class="partOfAddMessage">预览区</h3>
	                                        <div class="finishedMessage clearfix">
	                                            <div class="pull-left editPart1">    
	                                                
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="rightBtn">
	                                        <a class="btn btn-primary nextSite">保存</a>
	                                        <button class="btn cancelBtn_right">取消</button>
	                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>            
        </div>
        </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="box">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="box2">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">继续</button>
                            <button class="btn btn-default btn-lg mb-control-close">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="box1">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon1"></span><span class="fontCon1"></span></div>
                    <div class="mb-footer1">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">是</button>
                            <button class="btn btn-default btn-lg mb-control-close">否</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="cmsApplicationList">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a class="btn btn-success btn-lg mb-control-yes" href="/informationBoard/cmsApplicationList">去处理</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>    
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>  
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-datetimepicker.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-datetimepicker.fr.js}"></script>
        <script type="text/javascript" th:src="@{/js/loading/loading.js}"></script>  
        <script type="text/javascript" th:src="@{/js/paging/paging.js}"></script>
        <script type="text/javascript" th:src="@{/js/device/cmsSetting.js}"></script>   
        <script type="text/javascript" th:src="@{/js/commonSelect.js}"></script>  
        <script type="text/javascript" th:src="@{/js/informationBoard/select.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/switch.js}"></script> 
        <script type="text/javascript" th:src="@{/js/device/deviceSwitch.js}"></script>
        <script type="text/javascript" th:src="@{/js/device/cmsSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script> 
        <script type="text/javascript" th:src="@{/js/informationBoard/cmsApplication.js}"></script> 
        <script type="text/javascript" th:src="@{/js/informationBoard/cmsApplicationEdit.js}"></script> 
        <script type="text/javascript" th:src="@{/js/informationBoard/informationPublishToApplication.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/addToApplication.js}"></script> 
        <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    </body>
</html>






