<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>情报板信息墙</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading/loading.css}"/>
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/modal/modal.css}"/>
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/informationBoard/videoModal.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/informationBase.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/informationWall.css}"/>
        <script th:src="@{/js/sockjs.min.js}"></script>
		<script th:src="@{/js/stomp.js}"></script>
    </head>
    <body>
        <div class="page-container">
            <div class="page-content ml">
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">信息墙</li>
                </ul>
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span>信息墙</h2>
                    <div class="btnGroups pull-right">
                    	<form action="/informationBoard/sendMessage" method="post" id="formSubmit">
                        	<input name="ids" value="" class="sendIds" type="hidden">
                            <!--<button class="btn btn-primary sendMessageFromTunnel" type="button" style="margin-left:50px;border-radius:3px;margin-top:-2px;"><span class="fa fa-mail-forward"></span>信息库</button>
                            <button class="btn btn-primary sendMessageAndAdd" type="button" style="margin-left:20px;border-radius:3px;margin-top:-2px;"><span class="fa fa-mail-forward"></span>新增</button>-->
                            <button class="btn btn-default btn-rounded btn-sm sendMessageFromTunnel" type="button" style="margin-left:50px;margin-top:-2px;"><span class="fa fa-inbox"></span>信息库</button>
                            <button class="btn btn-default btn-rounded btn-sm sendMessageAndAdd" type="button" style="margin-left:10px;margin-top:-2px;"><span class="fa fa-plus"></span>添加</button>
                    	</form>
                    	<form action="/informationBoard/add" method="get" id="formSubmitAdd">
                    		<input name="idsAdd" value="" class="sendIds" type="hidden">
                    	</form>
                    </div>
                </div>
                <div class="page-content-wrap cmsBar mt0">
                   
                    
                </div> 
                <!-- 显示全部，并分类 -->
               <!--   <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="panel panel-default tabs">                            
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active liFirst"><a href="#tab-first" role="tab" data-toggle="tab">涿州南出口</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                    	<div class="btnGroup">
		                                	<form action="/informationBoard/sendMessage" method="post" id="formSubmit">
			                                	<input name="ids" value="" class="sendIds" type="hidden">
		                                        <button class="btn btn-primary sendMessage" type="button" style="background-color:#95B75D;border:1px solid #95B75D;margin-left:50px;border-radius:3px;margin-top:-2px;"><span class="fa fa-sign-in"></span>去发送</button>
		                                	</form>
	                                    </div>
                                        <div class="tab-pane active" id="tab-first">
							                <div class="page-content-wrap">
							                    <div class="row">
							                        <div class="col-md-12">
							                            <div class="panel panel-default">
							                                <div class="panel-body">
							                                    <ul class="wall-ul">
							                                     	<li class="wall-li borderBlack" onclick="sendToThis(this)" id="1">
								                                     	<div class="wall-jiankongBar" style="margin:0 auto;">
								                                     		<div class="wall-jiankong" style="width:320px;height:20px;background:#000;text-align:center;"></div>
							                                     		</div>
							                                     		<p class="wall-name">南出口</p>
							                                     		<span class="boardId" style="display:none;"></span>
							                                     		<span class="boardSize" style="display:none;"></span>
						                                     		</li>
															    </ul> 
															                                
							                                </div>
							                                <div class="panel-body">
							                                    <ul class="wall-ul">
							                                     	<li class="wall-li borderBlack" onclick="sendToThis(this)" id="1">
								                                     	<div class="wall-jiankongBar" style="margin:0 auto;">
								                                     		<div class="wall-jiankong" style="width:320px;height:20px;background:#000;text-align:center;"></div>
							                                     		</div>
							                                     		<p class="wall-name">南出口</p>
							                                     		<span class="boardId" style="display:none;"></span>
							                                     		<span class="boardSize" style="display:none;"></span>
						                                     		</li>
															    </ul> 
															                                
							                                </div>
							                            </div>
							                        </div>
							                    </div>
							                </div>    
                                        </div>
                                    </div>
                                </div>                                
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-12">
                                <div class="panel panel-default tabs">                            
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active liSecond"><a href="#tab-second" role="tab" data-toggle="tab">廊坊西</a></li> 
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="tab-second">
                                           <div class="page-content-wrap">
							                    <div class="row">
							                        <div class="col-md-12">
							                            <div class="panel panel-default">
							                                <div class="panel-body">
							                                    <ul class="wall-ul">
							                                     
															    </ul>                             
							                                </div>
							                            </div>
							                        </div>
							                    </div>
							                </div>    
                                        </div>
                                    </div>
                                </div>                                
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12">
                                <div class="panel panel-default tabs">                            
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="liThird active"><a href="#tab-thirdd" role="tab" data-toggle="tab">龙门架</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane" id="tab-third">
                                           <div class="page-content-wrap">
							                    <div class="row">
							                        <div class="col-md-12">
							                            <div class="panel panel-default">
							                                <div class="panel-body">
							                                    <ul class="wall-ul">
							                                     
															    </ul>                             
							                                </div>
							                            </div>
							                        </div>
							                    </div>
							                </div>    
                                        </div> 
                                    </div>
                                </div>                                
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12">
                                <div class="panel panel-default tabs">                            
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active liFourth"><a href="#tab-fourth" role="tab" data-toggle="tab">服务区</a></li> 
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="tab-fourth">
                                           <div class="page-content-wrap">
							                    <div class="row">
							                        <div class="col-md-12">
							                            <div class="panel panel-default">
							                                <div class="panel-body">
							                                    <ul class="wall-ul">
							                                     
															    </ul>                             
							                                </div>
							                            </div>
							                        </div>
							                    </div>
							                </div>    
                                        </div>                                          
                                    </div>
                                </div>                                
                        </div>
                    </div>    
                </div>      
                -->
            </div>            
        </div>
		<!--<div class="modal fade " id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document" style="width:820px;height:560px;" id="videoModal">
			    <div class="modal-content" id="turnToSwitchModal">
			    	<div class="modal-header">
				        <button type="button" class="close" id="videoCheckClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">实时视频</h4>
				     </div>
				     <div class="modal-body" style="height:500px;">-->
				     <!--	<iframe scrolling="auto" rameborder="0" frameborder="0" id="right" src="/informationBoard/videoCheck"  name="right" width="100%" height="100%" style="border-top-left-radius:5px;border-top-right-radius:5px;" class="iframeBar"></iframe>-->  
				        <!--<div id="ActiveX" class="ActiveX">-->
							<!--<div id="tipdiv" style="display:none;">
								<a href="./IMOSACTIVE.exe">当前无法播放视频，请点击点击此处下载安装控件</a>
							</div>-->
							<!--上元控件-->
							<!--<div id="playdiv" style="height:500px;">
								<object classid="clsid:B1A739F2-A8CA-4214-AC65-73E4C9569ACD" style="border:0px;width:100%;height:100%;" id="videoobj" events="True"> </object>
							</div>-->
							<!--宇视控件-->
							<!--<div id="playdiv">
								<object classid="clsid:067A4418-EBAC-4394-BFBE-8C533BA6503A" id="h3c_IMOS_ActiveX" style="border:0px;width:100%;height:100%;" events="True"> </object>
							</div>	-->		
						<!--</div>
					</div>
			    </div>
		  </div>
	   </div>-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> <span class="alertFont"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>   
        <script type="text/javascript" th:src="@{/js/loading/loading.js}"></script> 
        <script type="text/javascript" th:src="@{/js/device/cmsSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/switch.js}"></script> 
        <!--<script type="text/javascript" th:src="@{/js/informationBoard/informationWallVideoShow.js}"></script>-->
        <script type="text/javascript" th:src="@{/js/informationBoard/informationWall.js}"></script>
      <!--  <script type="text/javascript" th:src="@{/js/videoMonitor/common.js}"></script>-->
        
        <!--<script type="text/javascript" for= "h3c_IMOS_ActiveX" event="eventVehicleInfo(strParams)">
		</script>
		<script type="text/javascript" for= "h3c_IMOS_ActiveX" event="eventClickFrame(ulFrameNum,  pcFrameInfo)">
		    if(typeof dealEventClickFrame == "function"){
		        dealEventClickFrame(ulFrameNum,pcFrameInfo);
		        videoSourceSelected(ulFrameNum,'');
		    }
		</script>-->
    </body>
</html>






