<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>申请表信息发布</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/informationBase.css}"/>
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/paging/paging.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading/loading.css}"/> 
        <link rel="stylesheet" type="text/css" th:href="@{/css/electromechanical/table.css}"/>  
        <script th:src="@{/js/sockjs.min.js}"></script>
		<script th:src="@{/js/stomp.js}"></script>
        <style type="text/css">
        	.dataTables_paginate {
			    padding: 0px;
			    text-align: right;
			    float: right;
			    display:none;
			}
			.nowPreviewCss{
				box-shadow: 2px 2px 2px #ddd;
			}
        </style>
    </head>
    <body>
        <div class="page-container">
            <div class="page-content ml">
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">申请表信息发布</li>
                </ul>
                <div class="page-title">                    
                    <a href="javascript:history.go(-1)"><h2><span class="fa fa-arrow-circle-o-left"></span>选择申请发布位置</h2></a>
                </div>
                <div class="page-title ">                    
                    <div class="row ">
                    	<div class="form-group">
	                    	<div class="col-md-3">
	                            <label class="pull-left control-label taright">所在位置：</label>
	                            <div class="col-md-7">
	                                <select class="selectpicker form-control select fff site1" id="site1">
							        </select>
	                            </div>
                            </div>
                        </div>
	                     <button class="btn btn-primary search" style="margin-top:-22px;">搜索</button>  
                    </div>
                </div>
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">情报板</h3>       
                                </div>
                                
                                <div class="panel-body">  
                                	<div class="btnGroup">
	                                	<form action="/informationBoard/addToApplication" method="get" id="formSubmitAdd">
	                                        <button class="btn btn-primary sendMessageAndAdd" type="button" style="margin-left:20px;border-radius:3px;margin-top:-2px;"><span class="fa fa-mail-forward"></span>添加内容</button>
	                                		<input name="idsAdd" value="" class="sendIds" type="hidden">
	                                	</form>
                                    </div>
                                    <table id="customers2" class="table datatable_simple tableStyle">
                                        <thead>
                                            <tr>
                                                <th class="width60"><input type="checkbox" name="id1[]" value="" id="checkAll" class="self-input"/><span class="self-id">序号</span></th>
                                                <th>设备编号</th>
                                                <th>设备名称</th>
                                                <th>情报板尺寸</th>
                                                <th>所在位置</th>
                                                <th>桩号</th>
                                                <th>链接参数</th>
                                            </tr>
                                        </thead>
                                        <tbody class="selfTbody">
                                            
                                        </tbody>
                                    </table>                               
                                    <div id="page" class="page_div pull-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>            
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
          <div class="modal-dialog" role="document" style="width:780px;position:relative;top:-100px;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">情报板基本信息</h4>
              </div>
              <div class="modal-body" id="fullImg">
                	<div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-body form-group-separated">                                    
                                     <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label">设备编码：</label>
                                        <div class="col-md-6 col-xs-12">                                                                                                                                       
                                            <input name="stay" type="text" class="modal-input deviceCode" value="" data-default="" readonly="readonly"/>                                          
                                        </div>
                                    </div>
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label">管理机构：</label>
                                        <div class="col-md-6 col-xs-12">                                                                                                                                      
                                            <input name="stay" type="text" class="modal-input managementOrganization" value="" data-default="" readonly="readonly"/>                                         
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label">所在位置：</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            
                                            <input name="stay" type="text" class="modal-input position" value="" data-default="" readonly="readonly"/>
                                            
                                        </div>
                                    </div> 
                                     <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label">设备类型：</label>
                                        <div class="col-md-6 col-xs-12">                                                                                                                                       
                                            <input name="stay" type="text" class="modal-input deviceType" value="情报板" data-default="" readonly="readonly"/>                                          
                                        </div>
                                    </div>
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label">屏宽：</label>
                                        <div class="col-md-6 col-xs-12">                                                                                                                                      
                                            <input name="stay" type="text" class="modal-input width" value="" data-default="" readonly="readonly"/>                                         
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                            <div class="panel panel-default" style="margin-left:-20px;">
                                <div class="panel-body form-group-separated">                                    
                                   <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label col-md-pull-2">设备名称：</label>
                                        <div class="col-md-6 col-xs-12 col-md-pull-2">                                                                                                                                       
                                            <input name="stay" type="text" class="modal-input deiveName" value="" data-default="" readonly="readonly"/>                                          
                                        </div>
                                    </div>
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label col-md-pull-2">所属路段：</label>
                                        <div class="col-md-6 col-xs-12 col-md-pull-2">                                                                                                                                      
                                            <input name="stay" type="text" class="modal-input belongsHighway" value="" data-default="" readonly="readonly"/>                                         
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label col-md-pull-2">桩号：</label>
                                        <div class="col-md-6 col-xs-12 col-md-pull-2">                                                                                            
                                            <input name="stay" type="text" class="modal-input stakeMark " value="" data-default="" readonly="readonly"/>
                                        </div>
                                    </div> 
                                     <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label col-md-pull-2">情报板类型：</label>
                                        <div class="col-md-6 col-xs-12 col-md-pull-2">                                                                                                                                       
                                            <input name="stay" type="text" class="modal-input cmsType" value="" data-default="" readonly="readonly"/>                                          
                                        </div>
                                    </div>
                                    <div class="form-group ml0">
                                        <label class="col-md-5 col-xs-12 control-label col-md-pull-2">屏高：</label>
                                        <div class="col-md-6 col-xs-12 col-md-pull-2">                                                                                                                                      
                                            <input name="stay" type="text" class="modal-input height" value="" data-default="" readonly="readonly"/>                                         
                                        </div>
                                    </div>
                                  
                                </div>
                                </div>
                               
                            
                            </div>
                            
                        </div>
                        
                       <div class="col-md-12">
                        	<div class="form-group">
                                 <label class="col-md-2 col-xs-12 control-label nowPreview" >当前显示预览：</label>
                                 <div class="col-md-8 col-xs-12 nowPreviewCss">   
                                  <div id="previewBarPer">                                      
                                 	<div id="previewBar1" style="background:#000;text-align:center;">                                         
                                     	<div class="preview1" id="preview1" style="position: relative;top: 50%;transform: translateY(-50%);color:#ddd;">
                                     		正在读取
                                     	</div>
                                     </div>
                                 	</div>
                                 </div>
                             </div>
                        </div>
                         
                    </div>
              </div>                           
            </div>
          </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> <span class="alertFont"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="overlay lovelayNone"></div>
		<div id="AjaxLoading" class="showbox imgNone">
		  <div class="loadingWord"><img src="/css/img/loading.gif"></div>
		  <div>努力加载中，请稍候...</div>
		</div>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script> 
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>        
        <script type="text/javascript" th:src="@{/js/loading/loading.js}"></script>  
         <script type="text/javascript" th:src="@{/js/commonSelect.js}"></script>  
        <script type="text/javascript" th:src="@{/js/informationBoard/select.js}"></script> 
        <script type="text/javascript" th:src="@{/js/informationBoard/switch.js}"></script> 
        <script type="text/javascript" th:src="@{/js/device/deviceSwitch.js}"></script>
        <script type="text/javascript" th:src="@{/js/device/cmsSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script> 
        <script type="text/javascript" th:src="@{/js/informationBoard/informationPublishToApplication.js}"></script>
        <script type="text/javascript" th:src="@{/js/paging/paging.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    </body>
</html>






