<!DOCTYPE html>
<html lang="en" xmlns:th="" class="body-full-height">
    <head>        
        <title>情报板发布</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/informationBoard/informationBase.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/paging/paging.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading/loading.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/electromechanical/table.css}"/> 
    </head>
    <body>
        <div class="page-container">       
            <div class="page-content" style="margin-left:0px;">              
                <ul class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">信息发布</a></li>
                    <li class="active">情报板发布</li>
                </ul>
              	<div class="page-title">                    
                    <a href="javascript:history.go(-1)"><h2><span class="fa fa-arrow-circle-o-left"></span>情报板发布</h2></a>
                </div>
                <div class="page-title ">                    
                    <div class="row ">
                    	<div class="form-group">
	                    	<div class="col-md-3">
	                            <label class="pull-left control-label">已选情报板：</label>
	                            <div class="col-md-7">
	                                <select class="selectpicker form-control select fff orderBoardSize" id="orderBoardSize">
	                                	
							        </select>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group">
	                    	<div class="col-md-3 mt18">
	                            <label class="pull-left control-label taright width72">命令类型：</label>
	                            <div class="col-md-7">
	                                <select class="selectpicker form-control select fff commandType" id="commandType">
	                                
							        </select>
	                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                    	<div class="form-group">
	                    	<div class="col-md-3 mt8">
	                            <label class="pull-left control-label taright width72">内容：</label>
	                            <div class="col-md-7">
	                               <input name="" type="text" class="form-control contentSearch fff" value=""/>
	                            </div>
                            </div>
                        </div>
                    	<div class="form-group">
	                    	<div class="col-md-3 mtf8">
	                            <label class="pull-left control-label taright width72">尺寸：</label>
	                            <div class="col-md-7">
	                               <input name="" type="text" class="form-control sizeSearch fff" value="" readonly/>
	                            </div>
                            </div>
                        </div>
                        <button class="btn btn-primary search mtf22">搜索</button>  
                        <a href="javascript:window.history.back()" class="btn btn-default btn-rounded btn-sm pull-right" style="margin-right:20px;margin-top:-18px;"><span class="fa fa-mail-reply"></span>返回</a>
                    </div>
                </div>
                <div class="page-content-wrap">              
                    <div class="row">
                        <div class="col-md-12">
                        	<div class="panel panel-default bodyInfos">
                                <div class="panel-heading">
                                    <h3 class="panel-title">信息库</h3> 
                                    <div th:each="id:${ids}" style="display:none;">  
            							<div th:text="${id}" class="getSendId"></div>  
            						</div>
                                </div>
                                <div class="panel-body ">
                                	<div class="btnGroup">
                                        <button class="btn btn-default btn-rounded btn-sm sendMessage" type="button" style="margin-left:50px;margin-top:-2px;"><span class="fa fa-sign-in"></span>发布</button>
                                    </div>
                                    <table id="customers2" class="table datatable_simple tableStyle">
                                        <thead>
                                            <tr>
                                                <th class="width60"><input type="checkbox" name="id1[]" value="" id="checkAll" class="self-input"/><span class="self-id">序号</span></th>
                                                <th>信息</th>
                                                <th>字体</th>
                                                <th>字体大小</th>
                                                <th>字体颜色</th>
                                                <th>停留时间</th>
                                               <!-- <th>特效</th>-->
                                                <th>基本预览</th> 
                                                <th>最近更新用户</th>
                                                <th>更新时间</th>
                                            </tr>
                                        </thead>
                                        <tbody class="selfTbody">
                                           
                                        </tbody>
                                       
                                    </table>    
                                    <div id="page" class="page_div pull-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>            
        </div>
		<div class="message-box animated fadeIn" data-sound="alert" id="box">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa faIcon"></span><span class="fontCon"></span></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="overlay lovelayNone"></div>
		<div id="AjaxLoading" class="showbox imgNone">
		  <div class="loadingWord"><img src="/css/img/loading.gif"></div>
		  <div>努力加载中，请稍候...</div>
		</div>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>    
        <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap-select.js}"></script>     
        <script type="text/javascript" th:src="@{/js/paging/paging.js}"></script> 
        <script type="text/javascript" th:src="@{/js/loading/loading.js}"></script>    
        <script type="text/javascript" th:src="@{/js/informationBoard/select.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/switch.js}"></script> 
        <script type="text/javascript" th:src="@{/js/device/cmsSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/preview.js}"></script>
        <script type="text/javascript" th:src="@{/js/informationBoard/informationBaseCommon.js}"></script>  
        <script type="text/javascript" th:src="@{/js/informationBoard/sendMessage.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    </body>
</html>






