<!DOCTYPE html>
<html>
<head>
<title>智能报修系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../css/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div class="snow-container">
		<div class="snow foreground"></div>
		<div class="snow foreground layered"></div>
		<div class="snow middleground"></div>
		<div class="snow middleground layered"></div>
		<div class="snow background"></div>
		<div class="snow background layered"></div>
	</div>
	<div class="top-buttons-agileinfo">
		<a href="index.html"  class="active">登录</a>
		<a href="signup.html">注册</a>
	</div>
	<h1>智能报修系统
	</h1>
	<div class="main-agileits">
		<div class="form-agile">
			<h2 class="sub-agileits-w3layouts">登录</h2>
			<form action="#" method="post">
				<input type="email" name="Eamil" placeholder="用户" required="" />
				<input type="password" name="Password" placeholder="密码" required="" />
				<a href="#" class="forgot-w3layouts">忘记密码 ?</a>
				<div class="submit-w3l"　>
					<input type="submit" value="登录" onclick="javascript:window.location.href='repair.html'">
				</div>
				<p class="p-bottom-w3ls"><a href="signup.html">点击注册，</a>如果你没有帐户。</p>
			</form>
		</div>
	</div>
	<div class="copyright w3-agile">
		<p>Copyright © 2018,All Rights Reserved</a></p>
	</div>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</body>
</html>