<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>时间轴</title>

    <link href="../css/timeline.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){

            //首页大事记
            $('.course_nr2 li').hover(function(){
                $(this).find('.tl').slideDown(600);
            },function(){
                $(this).find('.tl').slideUp(400);
            });

        });
    </script>
</head>
<body>
    <div class="clearfix course_nr">
        <ul class="course_nr2">
            <li>
                申请
                <div class="tl">
                    <h1>申请</h1>
                    <p>　填写报修单。</p>
                </div>
            </li>
            <li>
                受理
                <div class="tl">
                    <h1>受理</h1>
                    <p>　管理员审核。</p>
                </div>
            </li>
            <li>
                派工
                <div class="tl">
                    <h1>派工</h1>
                    <p>　管理员派人。</p>
                </div>
            </li>
            <li>
                完工
                <div class="tl">
                    <h1>完工</h1>
                    <p>　维修工修复。</p>
                </div>
            </li>
            <li>
                评价
                <div class="tl">
                    <h1>评价</h1>
                    <p>　报单人评分。</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
