/*信息添加*/
.message-box .mb-container .mb-middle .mb-title{
	font-size:26px;
}
.mt5{
	margin-top:5px;
}
.width50{
	width:50%;
}
.fff{
	background: #fff!important;
	color: #000!important;
}
.bodyInfos label{
	width:100px;
	text-align: right;
	font-size: 14px;
}
.width50>div,.addEdit>div{
	margin-bottom:16px;
}
.conWidth{
	margin-left:6px;
	width:250px;
}
.page-content-wrap{
	margin-top:10px;
}
.fontFamily,.fontSize,.fontColorWrap{
	margin-left:6px;
}
.fontFamily>div,.fontSize>div{
	padding:6px 8px;
	border:1px solid #ddd;
	border-radius: 3px;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}
.fontColorBar{
	width:24px;
	height:24px;
	border-radius: 50%;
	margin-right: 10px;
	border:2px solid #ddd;
	padding:2px;
}
.borderUnSelect{
	border-color: #ddd;
}
.fontColor{
	width:100%;
	height:100%;
	cursor: pointer;
	border-radius: 50%;
	
}
.textAlign{
	border:1px solid #ddd;
	margin-right:10px;
	border-radius: 3px;
	cursor: pointer;
}
.blueBorder{
	border:1px solid #0D97F2!important;
	color:#0D97F2!important;
}
.leftBtn{
	margin-left:106px;
}
.rightBtn{
	margin-left:22px;
	margin-top:10px;
}
.leftBtn button,.rightBtn button,.bottomBtn button,.rightBtn a{
	width: 97px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	padding: 6px 10px;
}
.cancelBtn_Left,.cancelBtn_right,.btn_right{
	background: none;
	border:1px solid #BFC6D9;
	color:#9B9B9B;
	margin-left:20px;
}
.addMessage{
	height:100%;
	border:1px dashed #ddd;
	padding-bottom:20px;
	width:100%;
}
.partOfAddMessage{
	padding:16px 0px 0px 16px;
}
.tip{
	font-size: 16px!important;
}
.finishedMessage{
	padding:0px 20px;
}
.finishedMessage .cloneCms,.releaseCon .cloneCms{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #F3F4F6;
}
.editBtn{
	width:100px;
	font-size:18px;
	color:#0D97F2;
	cursor: pointer;
}
.fa-trash-o{
	margin-left:6px;
}

.btnGroup{
	position: absolute;
	top:-40px;
	right:10px;
}
.deleteBtn span{
	margin-left:2px!important;
}




/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (min-width:768px) and (max-width:1200px){
	.intervalDiv{
		width:20%;
		float: left!important;
	}
	.application label{
		width: 70px;
	    text-align: right;
	    font-size: 14px;
	   
	}
	.applicationCon{
		margin-left:6px;
		width:60%;
	}
	.applicationReasonDiv{
		width:40%;
	}
	.applicationConReason{
		width:80%;
	}
	.intervalDivTop{
		margin-top:16px;
	}
	.themeList{
		margin-top:8px;
	}
	.editAddCms{
		margin-top:0px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
	/*申请信息发布*/
	/*.application{
		width:338px!important;
	}*/
	/*.editCms{
		width:-moz-calc(100% - 338px)!important;
		width:-webkit-calc(100% - 338px)!important;
		width:calc(100% - 338px)!important;
		width:calc(100% - 338px)!important;
	}*/
	.intervalDiv{
		width:20%;
		float: left!important;
	}
	.application label{
		width: 90px;
	    text-align: right;
	    font-size: 14px;
	}
	.applicationCon{
		margin-left:6px;
		width:200px;
	}
	.intervalDiv{
		margin-bottom:16px;
	}
	.application .panel-body{
		padding:0px;
	}


	/*信息添加*/
	.themeList{
		width:450px!important;
	}
	/*.editAddCms{
		width:-moz-calc(100% - 450px)!important;
		width:-webkit-calc(100% - 450px)!important;
		width:calc(100% - 450px)!important;
	}*/
}
.application .panel,.applicationTitle h2{
	margin-bottom: 0px;
}
/*申请表格*/

.firstPart .table>tbody>tr>td{
    border-right: 1px solid #ddd;
    padding:6px!important;
}
.firstPart .borerNone{
	border-top-width:0px!important;
}
.firstPart .table{
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom:0px;
}
.tableThWidth{
	width:118px;
}
.tableThWidthModal{
	width:78px;
}
.textRight{
	text-align:right;
	vertical-align: middle!important;
}
.firstPart .applicationTable input,.editCms input{
	width:100%;
	border:none;
}
.firstPart .application,.editCms{
	margin-top:10px;
	margin-bottom:10px;

}
/*.editCms{
	margin-top:10px;
}*/
.addBtn{
	margin-right: 10px;
}
.application1{
	float: left!important;
	width:-moz-calc(100% - 450px)!important;
	width:-webkit-calc(100% - 450px)!important;
	width:calc(100% - 450px)!important;
}
.editCms1{
	float: left!important;
	width:450px!important;
}
.addBtnOne,.editThisCon{
	padding:2px 2px 0px 6px!important;
}
.editCms textarea{
	border:none;
}
.applicationTitle_left{
	margin-left:20px;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: 400;

}
.bottomBtn{
	margin-right: 15px;
}
.applicationHtml .selectBtn button{
	border:none!important;
}
.selectBtn .form-control{
	background:none;
}
.toggleThis{
	display:none;
}
.redNone{
	display:none;
}
.saveBtnGroup{
	margin-top:20px;
	margin-right:20px;
}
.saveBtnGroup button{
	width: 97px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    padding: 6px 10px;
}
.saveThisAndPublish{
	margin-left:10px;
}
.modalList .table>tbody>tr>td {
    border-right: 1px solid #ddd;
    padding: 10px!important;
}