html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%
}

body {
    line-height: 1.6;
    font-family: -apple-system-font, Helvetica Neue, sans-serif
}

* {
    margin: 0;
    padding: 0
}

a img {
    border: 0
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0)
}

.btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden
}

.btn:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px
}

.btn_default {
    color: #000;
    background-color: #f8f8f8
}

.btn_default:not(.btn_disabled):visited {
    color: #000
}

.btn_default:not(.btn_disabled):active {
    color: rgba(0, 0, 0, .6);
    background-color: #dedede
}

.btn_primary {
    background-color: #1aad19
}

.btn_primary:not(.btn_disabled):visited {
    color: #fff
}

.btn_primary:not(.btn_disabled):active {
    color: hsla(0, 0%, 100%, .6);
    background-color: #179b16
}

button.btn, inputed.btn {
    width: 100%;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none
}

button.btn:focus, inputed.btn:focus {
    outline: 0
}

.btn + .btn {
    margin-top: 15px
}

.btn {
    margin-top: auto;
    margin-right: 15px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.btn:last-child {
    margin-right: 0
}

.cells {
    margin-top: 1.17647059em;
    background-color: #fff;
    line-height: 60px;
    font-size: 20px;
    overflow: hidden;
    position: relative
}

.cells:before {
    top: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    transform: scaleY(.5)
}

.cells:after, .cells:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9
}

.cells:after {
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    transform: scaleY(.5)
}

.cell {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px
}

.cell:first-child:before {
    display: none
}

.cell__bd {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.label1 {
    display: block;
    width: 105px;
    word-wrap: break-word;
    word-break: break-all
}

.inputed {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471
}

.inputed::-webkit-inner-spin-button, .inputed::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    margin: 0
}

.cell_select {
    padding: 0
}

.cell_select .select1 {
    padding-right: 30px
}

.cell_select .cell__bd:after {
    content: " ";
    display: none;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71, .71, -.71, .71, 0, 0);
    -ms-transform: matrix(.71, .71, -.71, .71, 0, 0);
    -moz-transform: matrix(.71, .71, -.71, .71, 0, 0);
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px
}

.select1 {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    height: 44px;
    line-height: 44px;
    position: relative;
    z-index: 1;
    padding-left: 15px
}

.uploader__hd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 10px;
    -webkit-box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.uploader__title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.uploader__info {
    color: #b2b2b2
}

.uploader__bd {
    margin-bottom: -4px;
    margin-right: -9px;
    overflow: hidden
}

.uploader__files {
    list-style: none
}

.uploader__file {
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 79px;
    height: 79px;
    background: no-repeat 50%;
    background-size: cover
}

.uploader__file_status {
    position: relative
}

.uploader__file_status:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5)
}

.uploader__file_status .uploader__file-content {
    display: block
}

.uploader__file-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff
}

.uploader__file-content .icon-warn {
    display: inline-block
}

.uploader__input-box {
    float: left;
    position: relative;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 77px;
    height: 77px;
    border: 1px solid #d9d9d9
}

.uploader__input-box:after, .uploader__input-box:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #d9d9d9
}

.uploader__input-box:before {
    width: 2px;
    height: 39.5px
}

.uploader__input-box:after {
    width: 39.5px;
    height: 2px
}

.uploader__input-box:active {
    border-color: #999
}

.uploader__input-box:active:after, .uploader__input-box:active:before {
    background-color: #999
}

.uploader__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0)
}

.tabbar:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 2px;
    border-top: 1px solid #c0bfc4;
    color: #c0bfc4;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    transform: scaleY(.5)
}

.tabbar__item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    flex: 1;
    padding: 5px 0 0;
    font-size: 0;
    color: #999;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0)
}

.tabbar__item.bar__item_on .tabbar__icon, .tabbar__item.-bar__item_on .tabbar__icon > i, .tabbar__item.bar__item_on .tabbar__label {
    color: #09bb07
}

.tabbar__icon {
    display: inline-block;
    width:50px;
    height: 50px
}

.tabbar__icon > i, i.tabbar__icon {
    font-size: 24px;
    color: #999
}

.tabbar__icon img {
    width: 100%;
    height: 100%
}

.tabbar__label {
    text-align: center;
    color: #999;
    font-size: 10px;
    line-height: 1.8
}

.tabbar__label {
    text-align: center;
    color: #999;
    font-size: 10px;
    line-height: 1.8
}

.tabbar__item.bar__item_on .tabbar__icon, .tabbar__item.bar__item_on .tabbar__icon > i, .tabbar__item.bar__item_on .tabbar__label {
    color: #09bb07
}
#footer a{
    display: inline-block;
    padding-left: 22%;
    overflow: hidden;
    margin-top: 40px;

}

